.friend {
	@include box-sizing(border-box);
	float: left;
	width: (100% / 3);
	padding: 10px;

	&__image {
		@include border-radius(50%);
		width: 100%;
		display: block;
		margin-bottom: 3px;
	}

	&__name {
		font-style: italic;
		color: $white;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media #{$laptop} {
	.friend {
		width: 25%;
	}
}
