.separator {
	display: block;
	overflow: hidden;
	width: 100%;
	max-width: 383px;
	margin: 10px auto;
	position: relative;
	text-align: center;

	&__caption {
		display: inline-block;
		position: relative;
		font-weight: bold;
		color: $white;

		&:before, &:after {
			content: '';
			position: absolute;
			top: 50%;
			display: block;
			height: 1px;
			width: 500px;
			background-color: $white;
		}

		&:before {
			left: -510px;
		}

		&:after {
			right: -510px;
		}
	}
}
