<div class="white-box">
	<h2>Custom mail message</h2>

	<form class="custom-message" action="#">
		<textarea name="message" cols="30" rows="10" placeholder="Email message"></textarea>
		<button type="submit">send</button>
	</form>
</div>