/**
 * Breakpoints
 */

$mobile: 			"only screen and (min-width: 320px) and (max-width: 599px)";
$mobile-portrait: 	"only screen and (min-width: 320px) and (max-width: 479px)";
$mobile-landscape: 	"only screen and (min-width: 480px) and (max-width: 599px)";

$small-tablet: 		"only screen and (min-width: 600px)";

$tablet: 			"only screen and (min-width: 767px)";
$tablet-portrait:	"only screen and (max-width: 768px)";
$tablet-landscape:	"only screen and (min-width: 769px) and (max-width: 1024px)";

$laptop: 			"only screen and (min-width: 1024px)";
$desktop: 			"only screen and (min-width: 1424px)";

$retina-display: 	"only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)";
