/**
 * Web fonts
 */

@font-face {
  font-family: 'icon-font';
  src: url('/static/fonts/fontawesome-webfont.eot');
  src: url('/static/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/fontawesome-webfont.woff') format('woff'),
  url('/static/fonts/fontawesome-webfont.ttf') format('truetype'),
  url('/static/fonts/fontawesome-webfont.svg#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin font() {
  font-family: 'PT Sans', sans-serif;
}

@mixin icon() {
  font-family: 'icon-font';
  -webkit-font-smoothing: antialiased;
}
