{% load staticfiles %}
{% load compress %}

<html lang="en">

<head>
	<meta charset="utf-8">

	<link rel="icon" href="{% static 'img/icons/favicon.ico' %}">

	<title>{% block title %}Face Your Grammar{% endblock %}</title>
	<meta name="description" content="The most fun way to learn the English language and meet new people. Please log in using Facebook or Twitter, or create an account. Choose what language you want to learn and you’re all set to go. Find out what character you are by asking closed questions, for example: 'Am I a female?'">
	<meta name="keywords" content="">

	<meta property="og:title" content="Face Your Grammar">
	<meta property="og:image" content="{% static 'img/fb-shareimage.jpg' %}">
	<meta property="og:description" content="The most fun way to learn the English language and meet new people. Please log in using Facebook or Twitter, or create an account. Choose what language you want to learn and you’re all set to go. Find out what character you are by asking closed questions, for example: 'Am I a female?'">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Face Your Grammar">
	<meta property="og:url" content="">

	<link href="{% static 'img/icons/apple-icon-57x57.png' %}" rel="apple-touch-icon" />
	<link href="{% static 'img/icons/apple-icon-76x76.png' %}" rel="apple-touch-icon" sizes="76x76" />
	<link href="{% static 'img/icons/apple-icon-120x120.png' %}" rel="apple-touch-icon" sizes="120x120" />
	<link href="{% static 'img/icons/apple-icon-152x152.png' %}" rel="apple-touch-icon" sizes="152x152" />
	<link href="{% static 'img/icons/apple-icon-180x180.png' %}" rel="apple-touch-icon" sizes="180x180" />
	<link href="{% static 'img/icons/android-icon-192x192.png' %}" rel="icon" sizes="192x192" />

	<meta name="app-id" content="1463960813918287">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">

	{% block head %}

	{% endblock %}

</head>

<body>
	<div id="fb-root"></div>

	<header class="header">
		<div class="header__profile">
			<a class="header__logout" href="/api/signout/">logout</a>
		</div>
	</header>
	{% block body %}

	{% endblock %}

	<script data-main="{% static 'js/main' %}" src="{% static 'js/vendor/require.js' %}"></script>

	{% block script %}

	{% endblock %}
</body>

</html>
