{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}

{% block body %}
<div class="page game" data-controller="gameController">
    <div class="container">
        <h4 class="game__waiting">Waiting for other player...</h4>
        <a class="game__close-btn" href="/opponent"><i>&#xf00d;</i></a>
        <div class="game__card-holder">
            <img class="game__card" src="{% static 'img/cards/animals/02.png' %}" alt="Card"/>
        </div>
        <video id="remoteVideo" class="game__video" autoplay></video>
        <div class="game__bottom">
            <div class="game__answer-holder">
                <div class="game__wrong game__wrong--show">
                    <span id="friend_typing" class="game__correct-answer"></span>
                </div>
                <input type="text" class="game__answer" placeholder="Type your answer"/>
                <button class="button game__button" alt="Check">Guess</button>
            </div>
            <button class="game__mute"><i class="game__mute-icon"></i></button>
            <button class="game__sound"><i class="game__sound-icon"></i></button>
        </div>
    </div>
    <input type="hidden" id="start" value="{{ start }}"/>
    <input type="hidden" id="user_uuid" value="{{ user_uuid }}"/>
    <input type="hidden" id="opponent_uuid" value="{{ opponent_uuid }}"/>
</div>
{% endblock %}