{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}

{% block head %}
<script>
    {% if request.user.is_authenticated %}
    window.location = '/opponent/';
    {% endif %}
</script>
{% endblock %}

{% block body %}

<div class="page home" data-controller="homeController">
    <div class="page__vertical-align">
        <div class="container">
            <img class="home__logo" src="{% static 'img/logo.png' %}" alt="Face Your Grammar logo"/>
            <h1>Welcome to Face Your Grammar</h1>
            <p class="home__text">
                The most fun way to improve your language skills and meet new people.
                <br />
                Find out what image is attached to your face by asking 1 question a turn. Questions may only be be answered with "yes" or "no"!
                <br/>
                <i>Example: “Am I a female?”.</i><br/>
                <br/>
                It’s that easy! Why don’t you give it a try?<br/>
            </p>
            <h1>Join us now!</h1>
        </div>
        <div class="container container--small">
            <button class="social-button social-button--facebook">Connect with Facebook</button>
            <div class="separator">
                <span class="separator__caption">or</span>
            </div>
            <form action="/api/signup/" method="post">
                <input type="text" name="name" placeholder="Full name"/>
                <input type="email" name="email" placeholder="Email"/>
                <input type="password" name="password" placeholder="Password"/>
                <button type="submit" class="home__button button">register</button>
            </form>
        </div>
        <p>
            Already have an account?<br/>
            <a href="/login">Sign in here</a>
        </p>
    </div>
</div>

{% endblock %}
