{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}

{% block body %}

<div class="page language" data-controller="languageController">
    <div class="page__vertical-align">
        <div class="container">
            <img class="home__logo" src="{% static 'img/logo.png' %}" alt="Face Your Grammar logo"/>
            <h1>Language</h1>
            <p>Choose a language you want to learn.</p>
        </div>
        <div class="container container--small">
            <form action="/api/profile/" method="post">
                <select name="language" id="">
                    <option value="VN">Vietnamese</option>
                    <option value="NL">Dutch</option>
                    <option value="EN">English</option>
                </select>
                <button type="submit" class="home__button button">Select your opponent</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}