{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}

{% block body %}
<div class="page leader-boards">
    <div class="container">
        <img class="home__logo" src="{% static 'img/logo.png' %}" alt="Face Your Grammar logo"/>
        <h1>Leader boards</h1>
    </div>
</div>
{% endblock %}