{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}


{% block head %}
<script>
    {% if request.user.is_authenticated %}
    window.location = '/opponent/';
    {% endif %}
</script>
{% endblock %}

{% block body %}

<div class="page login" data-controller="loginController">
	<div class="page__vertical-align">
		<div class="container">
			<img class="home__logo" src="{% static 'img/logo.png' %}" alt="Face Your Grammar logo"/>
			<h1>Login</h1>
		</div>
		<div class="container container--small">
			<button class="social-button social-button--facebook">Login with Facebook</button>
			<div class="separator">
				<span class="separator__caption">or</span>
			</div>
			<form action="/api/login/" method="post">
				<input type="email" name="email" placeholder="Email"/>
				<input type="password" name="password" placeholder="Password"/>
				<button type="submit" class="home__button button">Login</button>
			</form>
		</div>
		<p>
			Don't have an account yet?<br/>
			<a href="/">Sign up here</a>
		</p>
	</div>
</div>

{% endblock %}