{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}

{% block body %}
<div class="page opponent" data-controller="opponentController">
    <div class="page__vertical-align">
        <div class="container">
            <div class="opponent__column opponent__column--random">
                <h2>Play a random student</h2>
                <p class="opponent__text">Meet a new friend that wants to learn too!</p>
                <a class="opponent__button button" href="#">Connect randomly</a>
            </div>
            <div class="opponent__column opponent__column--friends">
                <h2>Invite a friend</h2>
                <p class="opponent__text">Invite one of your friends to join you!</p>
                <div class="field-holder">
                    <input class="field-holder__input" type="text" placeholder="Search friends"/>
                    <i class="field-holder__icon">&#xf002;</i>
                </div>
                <div class="opponent__friends clearfix">
                    <div class="friend">
                        <img class="friend__image" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/p320x320/10930164_10206042643838875_2017011402924228253_n.jpg?oh=efdaaa0cd555a9c1c28ab88fce86bc91&oe=5618461E&__gda__=1444010895_172a4257df2c2891b7194fa51856962f" alt="Marvin"/>
                        <h3 class="friend__name">Marvin</h3>
                    </div>
                    <div class="friend">
                        <img class="friend__image" src=" https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p320x320/10399989_10153476949754797_5619119675019522200_n.jpg?oh=b4086c6350733a130d8a8b80bd81cf91&oe=562258E9&__gda__=1445590398_dd2705f113eb93ce2b20ea447645a0a6" alt="Laura"/>
                        <h3 class="friend__name">Laura</h3>
                    </div>
                    <div class="friend">
                        <img class="friend__image" src="{% static 'img/temp/hung.jpg' %}" alt="Hung"/>
                        <h3 class="friend__name">Hung</h3>
                    </div>
                    <div class="friend">
                        <img class="friend__image" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xta1/v/t1.0-1/p320x320/11377215_10205435534146800_5626170542508898780_n.jpg?oh=0588a067cee29a01c954073184989086&oe=560EB5A7&__gda__=1444172504_1e5704c654a7eb03118d33b3897a498c" alt="Japie"/>
                        <h3 class="friend__name">Japie</h3>
                    </div>
                    <div class="friend">
                        <img class="friend__image" src="{% static 'img/temp/khang.jpg' %}" alt="Khang"/>
                        <h3 class="friend__name">Khang</h3>
                    </div>
                    <div class="friend">
                        <img class="friend__image" src="{% static 'img/temp/ana.jpg' %}" alt="G"/>
                        <h3 class="friend__name">Ana</h3>
                    </div>
                    <div class="friend">
                        <img class="friend__image" src="{% static 'img/temp/g.jpg' %}" alt="G"/>
                        <h3 class="friend__name">Guido</h3>
                    </div>
                    <div class="friend">
                        <img class="friend__image" src="{% static 'img/temp/andrea.jpg' %}" alt="G"/>
                        <h3 class="friend__name">Andrea</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="user_uuid" value="{{ user_uuid }}"/>
</div>
{% endblock %}
