.game {
	text-align: center;
	background-color: $black;

	.page__vertical-align {
		position: relative;
		z-index: 1;
	}

	&__waiting {
		@include box-sizing(border-box);
		position: fixed;
		z-index: 0;
		top: 50%;
		left: 0;
		margin-top: -20px;
		color: $white;
		font-size: 30px;
		padding: 0 20px;
		width: 100%;
	}

	&__close-btn {
		@include transition(all 0.25s ease-out);
		position: fixed;
		z-index: 3;
		top: 40px;
		right: 0;
		padding: 2px 20px;
		color: $white;
		font-size: 30px;
		text-decoration: none;

		&:hover {
			color: $blue;
		}
	}

	&__card-holder {
		position: fixed;
		z-index: 2;
		left: 0;
		top: 20px;
		width: 100%;
	}

	&__card {
		width: 30%;
		min-width: 200px;
		max-width: 90%;
		display: inline-block;
	}

	&__video {
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__bottom {
		position: fixed;
		z-index: 3;
		bottom: 20px;
		left: 0;
		width: 100%;
	}

	.game__answer {
		@include transition(all 0.4s ease-out);
		max-width: 300px;
		margin: 0 auto;
		padding: 20px 10px;
		display: block;
		text-align: center;
		background-color: $white;
		background-color: rgba($white, 0.8);

		@include input-placeholder {
			color: $black;
		}

		&:focus {
			max-width: 360px;
			font-size: 28px;
			background-color: $white;
		}

		&--correct {
			background-color: $green;
		}

		&--wrong {
			background-color: $red;
		}
	}

	&__answer-holder {
		max-width: 300px;
		margin: 0 auto;
	}

	&__button {
		margin-top: -2px;
	}

	&__wrong {
		@include translateY(100px);
		@include opacity(0);
		@include transition(all 0.4s ease-out);
		position: relative;
		z-index: -1;

		&--show {
			@include translateY(0px);
			@include opacity(1);
		}
	}

	&__correct-answer {
		color: $red;
		font-size: 20px;
		font-weight: 700;
		padding-bottom: 10px;
		display: inline-block;
	}

	$round-btn-size: 60px;
	&__mute, &__sound {
		@include border-radius(50%);
		@include transition(all 0.25s ease-out);
		display: none;
		position: absolute;
		bottom: 5px;
		right: 30px;
		color: $black;
		font-size: 25px;
		width: $round-btn-size;
		height: $round-btn-size;
		padding: 0;
		background-color: $white;
		background-color: rgba($white, 0.8);

		&:hover {
			color: $white;
			background-color: $blue;
		}
	}

	&__sound {
		right: $round-btn-size + 50px;
	}

	&__mute-icon {

		&:after {
			content: '\f130';
		}
	}

	&__sound-icon {

		&:after {
			content: '\f028';
		}
	}
}

@media #{$small-tablet} {
	.game {

		&__card {
			min-width: 300px;
		}

		&__mute, &__sound {
			display: block;
		}
	}
}
