/**
 * Home template
 */
.home {

	&__logo {
		width: image-width('logo.png') / 2;
		max-width: 100%;
		margin-bottom: 20px;
	}

	&__text {
		padding-bottom: 20px;
	}

	&__button {
		margin: 20px auto;
	}
}
