.opponent {

	&__column {
		@include box-sizing(border-box);
		padding: 20px 0px;

		&--random {
			border-bottom: 2px solid $white;
		}
	}

	&__text {
		font-size: 24px;
		padding-bottom: 20px;
	}

	&__button {
		@include transition(all 0.25s ease-out);
		display: inline-block;
		width: auto;
	}

	&__friends {
		max-width: 480px;
		margin: 20px auto 0;
	}
}

@media #{$tablet} {
	.opponent {

		&__column {
			float: left;
			width: 50%;
			padding: 20px 30px;
			min-height: 200px;

			&--random {
				border-bottom: none;
			}

			&--friends {
				border-left: 2px solid $white;
			}
		}
	}
}
