# {{ ansible_managed }}
{% if project_mysql_db %}
export {{ project_name }}_DB_NAME={{ project_mysql_db }}
{% endif %}
{% if project_mysql_user %}
export {{ project_name }}_DB_USER={{ project_mysql_user }}
{% endif %}
{% if project_mysql_password %}
export {{ project_name }}_DB_PASSWORD={{ project_mysql_password }}
{% endif %}
{% if mysql_host %}
export {{ project_name }}_DB_HOST={{ mysql_host }}
{% endif %}
{% if mysql_port | default(false) %}
export {{ project_name }}_DB_PORT={{ mysql_port }}
{% endif %}
{% if elastic_search_host | default(false) %}
export {{ project_name }}_ELASTIC_SEARCH_HOST=http://{{ elastic_search_host }}:9200/
{% endif %}
{% if memcache_host | default(false) %}
export {{ project_name }}_MEMCACHE_HOST={{ memcache_host }}:11211
{% endif %}

{% if project_virtualenv_name %}
export VIRTUALENV_NAME={{ project_virtualenv_name }}
{% endif %}
{% if deploy_virtualenv_path %}
export VIRTUALENV_PATH={{ deploy_virtualenv_path }}
{% endif %}
