{% for site in sites %}
server {
  listen 80;
  server_name {{site.host}};

  client_max_body_size 0;

  location / {
    include proxy_params;
    proxy_pass http://127.0.0.1:{{site.port}};
  }
  {% if deploy_environment != "local" %}
  location /static/ {
    expires max;
    add_header Set-Cookie "";
    alias {{ project_home }}/{{ deploy_environment }}/src/{{ project_name }}/assets/;
    access_log off;
  }
  {% endif %}
}
{% endfor %}
