[program:{{ project_name }}{{ project_config_suffix }}]
command={{ project_home }}/bin/run-website {{ deploy_environment }}
directory={{ project_home }}
environment=PATH="{{ project_virtualenv_path }}/bin:/bin:/sbin:/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin"
user={{ deploy_user }}