{% for site in sites %}
[program:{{site.name}}-{{ deploy_environment }}]
{% if deploy_environment == "local" %}
command={{ project_home }}/{{ deploy_environment }}/src/{{ project_name }}/manage.py runserver 127.0.0.1:{{ site.port }}
{% else %}
command={{ project_virtualenv_path }}/bin/gunicorn -c gunicorn.py --bind=127.0.0.1:{{ site.port }} conf.wsgi
{% endif  %}
directory={{ project_home }}/{{ deploy_environment }}/src/{{ project_name }}
environment=PATH="{{ project_virtualenv_path }}/bin:/bin:/sbin:/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin",USER={{ deploy_user }},DJANGO_SETTINGS_MODULE=conf.settings.{{deploy_environment}},DJANGO_SITE_ID={{site.id}}
{% if deploy_environment == "local" %}
stopsignal=KILL
killasgroup=true
{% endif %}
{% endfor %}

{% if deploy_environment == "local" %}
[program:{{ deploy_environment }}-compass]
command=compass watch --poll
directory={{ project_home }}/{{ deploy_environment }}/src/{{ project_name }}/static
{% endif %}

[group:{{ project_name }}-{{ deploy_environment }}]
programs={% for site in sites %}{{site.name}}-{{ deploy_environment }}{% if not loop.last %},{% endif %}{% endfor %}
