/**
 * Compile css code for retina icons
 * @filename        {string} Icon filename
 * @retina-filename {string} Retina icon filename
 * @width           {number} Retina icon width
 * @height          {number} Retina icon height
 */
@mixin retina-icon($filename, $retina-filename, $width: false, $height: false, $repeat: no-repeat, $position: center) {
	display: inline-block;
	width: image-width($filename);
	height: image-height($filename);

	background: {
		image: image-url($filename);
		repeat: $repeat;
		position: $position;
	}

	@if $width == false {
		$width: image-width($filename);
	}

	@media #{$retina-display} {
		background: {
			image: image-url($retina-filename);

			@if $height == false {
				size: $width;
			} @else {
				size: $width $height;
			}
		}
	}
}
