/**
 * Header
 */
.header {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba($black, 0.2);

	&__profile {
		float: right;
	}

	&__logout {
		padding: 15px 20px;
		display: inline-block;
		text-decoration: none;

		&:hover {
			color: $blue;
		}
	}
}
