/**
 * Layout
 */
body {
	@include font();
	@include background-size(cover);
	font-size: 16px;
	line-height: 1.4;
	color: $white;
	text-align: center;
	background: {
		color: $black;
		image: url('/static/img/bg-image.jpg');
		position: center;
	}

	* {
		-webkit-font-smoothing: antialiased;
	}
}

h1, h2, h3 {
	font-weight: 700;
	line-height: 1.1;
}

h1 {
	font-size: 30px;
	padding-bottom: 20px;
}

h2 {
	font-size: 26px;
	padding-bottom: 10px;
}

h3 {
	font-size: 20px;
}

p {

}

a {
	color: $white;
}

i {
	@include icon();
}

img {
	display: block;
	margin: 0 auto;
}

strong {
	font-weight: 700;
}

.container {
	@include box-sizing(border-box);
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	padding: 0 20px;

	&--small {
		max-width: 340px;
	}
}

.page {
	padding: 40px 0;
}

@media #{$small-tablet} {
	.container {
		width: 90%;
		padding: 0 20px;
	}
}

@media #{$mobile} {
	.container {
		width: 90%;
		padding: 0 20px;
	}
}
