/**
 * Buttons
 */
button, input[type="submit"] {
	@include font();
	@include box-sizing(border-box);
	@include transition(all 0.2s ease-out);
	background: transparent;
	position: relative;
	border: none;
	cursor: pointer;
	display: inline-block;
	color: $white;
	text-align: center;
	text-decoration: none;

	&:focus {
		outline: none;
	}
}

.button, input[type="submit"].button {
	@extend button;
	@include border-radius(3px);
	font-size: 14px;
	font-weight: 700;
	padding: 12px 20px;
	width: 100%;
	text-transform: uppercase;
	background-color: $blue;

	&:hover {
		background-color: darken($blue, 14%);
	}

	&:after {
		@include opacity(0);
		@include transition(all 0.25s ease-out 0.2s);
		position: absolute;
		right: 10px;
		top: 9px;
		display: block;
		content: '';
		width: image-width('loader.gif') / 2;
		height: image-width('loader.gif') / 2;
		background: {
			image: url('/static/img/loader.gif');
			position: center;
			size: 100%;
		}
	}

	&--loading {
		padding-right: 42px;

		&:hover {
			background-color: $blue;
		}

		&:after {
			@include opacity(1);
		}
	}
}

.social-button {
	@extend button;
	@include border-radius(3px);
	font-size: 16px;
	padding: 10px 20px 10px 45px;
	width: 100%;
	position: relative;

	&:before {
		@include icon();
		display: inline-block;
		font-size: 20px;
		padding-right: 8px;
		margin-left: -8px;
	}

	&--facebook {
		background-color: $facebook;

		&:before {
			content: '\f09a';
		}

		&:hover {
			background-color: darken($facebook, 10%);
		}
	}

	&--twitter {
		background-color: $twitter;

		&:before {
			content: '\f09a';
		}

		&:hover {
			background-color: darken($twitter, 10%);
		}
	}
}
