/**
 * Form
 */
input[type="text"] {
	@include box-sizing(border-box);
	@include box-shadow(none);
	@include transition(background-color 0.2s ease-out, color 0.2s ease-out);
	margin: 0;
	padding: 12px 10px;
	width: 100%;
	font-size: 15px;
	color: $white;
	border: none;
	border-bottom: 1px solid #ececec;
	background: transparent;

	&:focus {
		outline: none;
		color: $black;
		background: $white;
	}

	@include input-placeholder {
		@include transition(color 0.25s ease-out);
		color: $white;
		font-style: italic;
	}

	&:-webkit-autofill {
		@include box-shadow(0 0 0 1000px $white inset);
		color: $black !important;
		background-color: $white !important;
	}

	&:focus {
		outline: none;
		background-color: $white;

		@include input-placeholder {
			color: $grey;
		}

		&:-webkit-autofill {
			@include box-shadow(0 0 0 1000px $white inset);
		}
	}
}

input[type="email"] {
	@extend input[type="text"];
}

input[type="password"] {
	@extend input[type="text"];
}

select {
	@extend input[type="text"];
	height: auto;
}
