
# Allow {{ item.role_name }} to {{ item.server_role }}
{% for host in groups[item.server_role] %}
#   host={{ hostvars[host]['ansible_fqdn'] }}
{% for ip_address in hostvars[host]['ansible_all_ipv4_addresses'] %}
-A INPUT -p tcp -s {{ ip_address }} --dport {{ item.port }} -j ACCEPT
{% endfor %}

{% endfor %}
