#
# The MySQL database server configuration file.
#
[client]
port		= {{ mysql_port }}
socket		= /var/run/mysqld/mysqld.sock
default-character-set=utf8

[mysql]
default-character-set=utf8

# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= {{ mysql_port }}
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mysql
skip-external-locking
collation-server = utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server = utf8

bind-address		= {{ mysql_bind_address }}

key_buffer		= 16M
max_allowed_packet	= 16M
thread_stack		= 192K
thread_cache_size       = 8

query_cache_limit	= 1M
query_cache_size        = 16M
log_error = /var/log/mysql/error.log
server-id               = {{ mysql_db_id }}

{% if mysql_repl_role == 'master' %}
log_bin                 = mysql-bin
expire_logs_days        = 10
max_binlog_size         = 100M

{% for i in mysql_db %}
{% if i.replicate|default(1) %}
binlog_do_db            = {{ i.name }}
{% endif %}
{% endfor %}

{% for i in mysql_db %}
{% if not i.replicate|default(1) %}
binlog_ignore_db        = {{ i.name }}
{% endif %}
{% endfor %}
{% endif %}

!includedir /etc/mysql/conf.d/
