/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * Application palette
 */
/**
 * Web fonts
 */
@font-face {
  font-family: 'icon-font';
  src: url("/static/fonts/fontawesome-webfont.eot");
  src: url("/static/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/fontawesome-webfont.woff") format("woff"), url("/static/fonts/fontawesome-webfont.ttf") format("truetype"), url("/static/fonts/fontawesome-webfont.svg#icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**
 * Breakpoints
 */
/**
 * Clearfix mixin
 */
/* line 5, ../scss/mixins/_clearfix.scss */
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
/* line 11, ../scss/mixins/_clearfix.scss */
.clearfix:after {
  clear: both;
}

/**
 * Compile css code for retina icons
 * @filename        {string} Icon filename
 * @retina-filename {string} Retina icon filename
 * @width           {number} Retina icon width
 * @height          {number} Retina icon height
 */
/**
 * Animation mixins
 */
/**
 * Buttons
 */
/* line 4, ../scss/defaults/_buttons.scss */
button, .button, input[type="submit"].button, .social-button, input[type="submit"] {
  font-family: 'PT Sans', sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: transparent;
  position: relative;
  border: none;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
/* line 17, ../scss/defaults/_buttons.scss */
button:focus, .button:focus, input[type="submit"].button:focus, .social-button:focus, input[type="submit"]:focus {
  outline: none;
}

/* line 22, ../scss/defaults/_buttons.scss */
.button, input[type="submit"].button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 20px;
  width: 100%;
  text-transform: uppercase;
  background-color: #48c2c5;
}
/* line 32, ../scss/defaults/_buttons.scss */
.button:hover, input[type="submit"].button:hover {
  background-color: #309496;
}
/* line 36, ../scss/defaults/_buttons.scss */
.button:after, input[type="submit"].button:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.25s ease-out 0.2s;
  -o-transition: all 0.25s ease-out 0.2s;
  -webkit-transition: all 0.25s ease-out;
  -webkit-transition-delay: 0.2s;
  transition: all 0.25s ease-out 0.2s;
  position: absolute;
  right: 10px;
  top: 9px;
  display: block;
  content: '';
  width: 25px;
  height: 25px;
  background-image: url("/static/img/loader.gif");
  background-position: center;
  background-size: 100%;
}
/* line 53, ../scss/defaults/_buttons.scss */
.button--loading, input[type="submit"].button--loading {
  padding-right: 42px;
}
/* line 56, ../scss/defaults/_buttons.scss */
.button--loading:hover, input[type="submit"].button--loading:hover {
  background-color: #48c2c5;
}
/* line 60, ../scss/defaults/_buttons.scss */
.button--loading:after, input[type="submit"].button--loading:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 66, ../scss/defaults/_buttons.scss */
.social-button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px 20px 10px 45px;
  width: 100%;
  position: relative;
}
/* line 74, ../scss/defaults/_buttons.scss */
.social-button:before {
  font-family: 'icon-font';
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-size: 20px;
  padding-right: 8px;
  margin-left: -8px;
}
/* line 82, ../scss/defaults/_buttons.scss */
.social-button--facebook {
  background-color: #3a5897;
}
/* line 85, ../scss/defaults/_buttons.scss */
.social-button--facebook:before {
  content: '\f09a';
}
/* line 89, ../scss/defaults/_buttons.scss */
.social-button--facebook:hover {
  background-color: #2c4372;
}
/* line 94, ../scss/defaults/_buttons.scss */
.social-button--twitter {
  background-color: #55acee;
}
/* line 97, ../scss/defaults/_buttons.scss */
.social-button--twitter:before {
  content: '\f09a';
}
/* line 101, ../scss/defaults/_buttons.scss */
.social-button--twitter:hover {
  background-color: #2795e9;
}

/**
 * Form
 */
/* line 4, ../scss/defaults/_form.scss */
input[type="text"], input[type="email"], input[type="password"], select {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  margin: 0;
  padding: 12px 10px;
  width: 100%;
  font-size: 15px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #ececec;
  background: transparent;
}
/* line 17, ../scss/defaults/_form.scss */
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, select:focus {
  outline: none;
  color: #000;
  background: #fff;
}
/* line 61, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="password"]:-moz-placeholder, select:-moz-placeholder {
  -moz-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
  color: #fff;
  font-style: italic;
}
/* line 64, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="password"]::-moz-placeholder, select::-moz-placeholder {
  -moz-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
  color: #fff;
  font-style: italic;
}
/* line 67, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, select:-ms-input-placeholder {
  transition: color 0.25s ease-out;
  color: #fff;
  font-style: italic;
}
/* line 56, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, select::-webkit-input-placeholder {
  -webkit-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
  color: #fff;
  font-style: italic;
}
/* line 29, ../scss/defaults/_form.scss */
input[type="text"]:-webkit-autofill, input[type="email"]:-webkit-autofill, input[type="password"]:-webkit-autofill, select:-webkit-autofill {
  -moz-box-shadow: 0 0 0 1000px #fff inset;
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  box-shadow: 0 0 0 1000px #fff inset;
  color: #000 !important;
  background-color: #fff !important;
}
/* line 35, ../scss/defaults/_form.scss */
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, select:focus {
  outline: none;
  background-color: #fff;
}
/* line 61, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]:focus:-moz-placeholder, input[type="email"]:focus:-moz-placeholder, input[type="password"]:focus:-moz-placeholder, select:focus:-moz-placeholder {
  color: #333;
}
/* line 64, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]:focus::-moz-placeholder, input[type="email"]:focus::-moz-placeholder, input[type="password"]:focus::-moz-placeholder, select:focus::-moz-placeholder {
  color: #333;
}
/* line 67, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]:focus:-ms-input-placeholder, input[type="email"]:focus:-ms-input-placeholder, input[type="password"]:focus:-ms-input-placeholder, select:focus:-ms-input-placeholder {
  color: #333;
}
/* line 56, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]:focus::-webkit-input-placeholder, input[type="email"]:focus::-webkit-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder, select:focus::-webkit-input-placeholder {
  color: #333;
}
/* line 43, ../scss/defaults/_form.scss */
input[type="text"]:focus:-webkit-autofill, input[type="email"]:focus:-webkit-autofill, input[type="password"]:focus:-webkit-autofill, select:focus:-webkit-autofill {
  -moz-box-shadow: 0 0 0 1000px #fff inset;
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  box-shadow: 0 0 0 1000px #fff inset;
}

/* line 57, ../scss/defaults/_form.scss */
select {
  height: auto;
}

/**
 * Layout
 */
/* line 4, ../scss/layout/_layout.scss */
body {
  font-family: 'PT Sans', sans-serif;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  text-align: center;
  background-color: #000;
  background-image: url("/static/img/bg-image.jpg");
  background-position: center;
}
/* line 17, ../scss/layout/_layout.scss */
body * {
  -webkit-font-smoothing: antialiased;
}

/* line 22, ../scss/layout/_layout.scss */
h1, h2, h3 {
  font-weight: 700;
  line-height: 1.1;
}

/* line 27, ../scss/layout/_layout.scss */
h1 {
  font-size: 30px;
  padding-bottom: 20px;
}

/* line 32, ../scss/layout/_layout.scss */
h2 {
  font-size: 26px;
  padding-bottom: 10px;
}

/* line 37, ../scss/layout/_layout.scss */
h3 {
  font-size: 20px;
}

/* line 45, ../scss/layout/_layout.scss */
a {
  color: #fff;
}

/* line 49, ../scss/layout/_layout.scss */
i {
  font-family: 'icon-font';
  -webkit-font-smoothing: antialiased;
}

/* line 53, ../scss/layout/_layout.scss */
img {
  display: block;
  margin: 0 auto;
}

/* line 58, ../scss/layout/_layout.scss */
strong {
  font-weight: 700;
}

/* line 62, ../scss/layout/_layout.scss */
.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}
/* line 69, ../scss/layout/_layout.scss */
.container--small {
  max-width: 340px;
}

/* line 74, ../scss/layout/_layout.scss */
.page {
  padding: 40px 0;
}

@media only screen and (min-width: 600px) {
  /* line 79, ../scss/layout/_layout.scss */
  .container {
    width: 90%;
    padding: 0 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 599px) {
  /* line 86, ../scss/layout/_layout.scss */
  .container {
    width: 90%;
    padding: 0 20px;
  }
}
/**
 * Header
 */
/* line 4, ../scss/layout/_header.scss */
.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 12, ../scss/layout/_header.scss */
.header__profile {
  float: right;
}
/* line 16, ../scss/layout/_header.scss */
.header__logout {
  padding: 15px 20px;
  display: inline-block;
  text-decoration: none;
}
/* line 21, ../scss/layout/_header.scss */
.header__logout:hover {
  color: #48c2c5;
}

/* line 1, ../scss/layout/_page.scss */
.page {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  display: table;
  height: 100%;
  width: 100%;
}
/* line 7, ../scss/layout/_page.scss */
.page__vertical-align {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

/* line 1, ../scss/modules/_friend.scss */
.friend {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 33.33333%;
  padding: 10px;
}
/* line 7, ../scss/modules/_friend.scss */
.friend__image {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
  display: block;
  margin-bottom: 3px;
}
/* line 14, ../scss/modules/_friend.scss */
.friend__name {
  font-style: italic;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 1024px) {
  /* line 24, ../scss/modules/_friend.scss */
  .friend {
    width: 25%;
  }
}
/* line 1, ../scss/modules/_field-holder.scss */
.field-holder {
  position: relative;
  max-width: 480px;
  margin: 0px auto;
}
/* line 6, ../scss/modules/_field-holder.scss */
.field-holder__icon {
  position: absolute;
  right: 0px;
  top: 6px;
  font-size: 22px;
}

/* line 1, ../scss/modules/_separator.scss */
.separator {
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 383px;
  margin: 10px auto;
  position: relative;
  text-align: center;
}
/* line 10, ../scss/modules/_separator.scss */
.separator__caption {
  display: inline-block;
  position: relative;
  font-weight: bold;
  color: #fff;
}
/* line 16, ../scss/modules/_separator.scss */
.separator__caption:before, .separator__caption:after {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  height: 1px;
  width: 500px;
  background-color: #fff;
}
/* line 26, ../scss/modules/_separator.scss */
.separator__caption:before {
  left: -510px;
}
/* line 30, ../scss/modules/_separator.scss */
.separator__caption:after {
  right: -510px;
}

/**
 * Home template
 */
/* line 6, ../scss/pages/_home.scss */
.home__logo {
  width: 430px;
  max-width: 100%;
  margin-bottom: 20px;
}
/* line 12, ../scss/pages/_home.scss */
.home__text {
  padding-bottom: 20px;
}
/* line 16, ../scss/pages/_home.scss */
.home__button {
  margin: 20px auto;
}

/* line 3, ../scss/pages/_opponent.scss */
.opponent__column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0px;
}
/* line 7, ../scss/pages/_opponent.scss */
.opponent__column--random {
  border-bottom: 2px solid #fff;
}
/* line 12, ../scss/pages/_opponent.scss */
.opponent__text {
  font-size: 24px;
  padding-bottom: 20px;
}
/* line 17, ../scss/pages/_opponent.scss */
.opponent__button {
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  display: inline-block;
  width: auto;
}
/* line 23, ../scss/pages/_opponent.scss */
.opponent__friends {
  max-width: 480px;
  margin: 20px auto 0;
}

@media only screen and (min-width: 767px) {
  /* line 32, ../scss/pages/_opponent.scss */
  .opponent__column {
    float: left;
    width: 50%;
    padding: 20px 30px;
    min-height: 200px;
  }
  /* line 38, ../scss/pages/_opponent.scss */
  .opponent__column--random {
    border-bottom: none;
  }
  /* line 42, ../scss/pages/_opponent.scss */
  .opponent__column--friends {
    border-left: 2px solid #fff;
  }
}
/* line 1, ../scss/pages/_game.scss */
.game {
  text-align: center;
  background-color: #000;
}
/* line 5, ../scss/pages/_game.scss */
.game .page__vertical-align {
  position: relative;
  z-index: 1;
}
/* line 10, ../scss/pages/_game.scss */
.game__waiting {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  z-index: 0;
  top: 50%;
  left: 0;
  margin-top: -20px;
  color: #fff;
  font-size: 30px;
  padding: 0 20px;
  width: 100%;
}
/* line 23, ../scss/pages/_game.scss */
.game__close-btn {
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  position: fixed;
  z-index: 3;
  top: 40px;
  right: 0;
  padding: 2px 20px;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}
/* line 34, ../scss/pages/_game.scss */
.game__close-btn:hover {
  color: #48c2c5;
}
/* line 39, ../scss/pages/_game.scss */
.game__card-holder {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 20px;
  width: 100%;
}
/* line 47, ../scss/pages/_game.scss */
.game__card {
  width: 30%;
  min-width: 200px;
  max-width: 90%;
  display: inline-block;
}
/* line 54, ../scss/pages/_game.scss */
.game__video {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 63, ../scss/pages/_game.scss */
.game__bottom {
  position: fixed;
  z-index: 3;
  bottom: 20px;
  left: 0;
  width: 100%;
}
/* line 71, ../scss/pages/_game.scss */
.game .game__answer {
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px 10px;
  display: block;
  text-align: center;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 61, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.game .game__answer:-moz-placeholder {
  color: #000;
}
/* line 64, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.game .game__answer::-moz-placeholder {
  color: #000;
}
/* line 67, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.game .game__answer:-ms-input-placeholder {
  color: #000;
}
/* line 56, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.game .game__answer::-webkit-input-placeholder {
  color: #000;
}
/* line 85, ../scss/pages/_game.scss */
.game .game__answer:focus {
  max-width: 360px;
  font-size: 28px;
  background-color: #fff;
}
/* line 91, ../scss/pages/_game.scss */
.game .game__answer--correct {
  background-color: #3caf3c;
}
/* line 95, ../scss/pages/_game.scss */
.game .game__answer--wrong {
  background-color: #af3434;
}
/* line 100, ../scss/pages/_game.scss */
.game__answer-holder {
  max-width: 300px;
  margin: 0 auto;
}
/* line 105, ../scss/pages/_game.scss */
.game__button {
  margin-top: -2px;
}
/* line 109, ../scss/pages/_game.scss */
.game__wrong {
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  position: relative;
  z-index: -1;
}
/* line 116, ../scss/pages/_game.scss */
.game__wrong--show {
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 122, ../scss/pages/_game.scss */
.game__correct-answer {
  color: #af3434;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  display: inline-block;
}
/* line 131, ../scss/pages/_game.scss */
.game__mute, .game__sound {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  display: none;
  position: absolute;
  bottom: 5px;
  right: 30px;
  color: #000;
  font-size: 25px;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 146, ../scss/pages/_game.scss */
.game__mute:hover, .game__sound:hover {
  color: #fff;
  background-color: #48c2c5;
}
/* line 152, ../scss/pages/_game.scss */
.game__sound {
  right: 110px;
}
/* line 158, ../scss/pages/_game.scss */
.game__mute-icon:after {
  content: '\f130';
}
/* line 165, ../scss/pages/_game.scss */
.game__sound-icon:after {
  content: '\f028';
}

@media only screen and (min-width: 600px) {
  /* line 174, ../scss/pages/_game.scss */
  .game__card {
    min-width: 300px;
  }
  /* line 178, ../scss/pages/_game.scss */
  .game__mute, .game__sound {
    display: block;
  }
}
